{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues Search{% endblock %}
{% block content %}
<!-- Source: https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template -->
<h3>Number of search results for "{{ search_term }}": {{ results|length }}</h3>
<ul class="items">
	{% for venue in results %}
	<li>
		<a href="/venues/{{ venue.id }}">
			<i class="fas fa-music"></i>
			<div class="item">
				<h5>{{ venue.name }}</h5>
			</div>
		</a>
	</li>
	{% endfor %}
</ul>
{% endblock %}